body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .sidebar {
    background-color: #343a40;
    color: white;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
  }
  
  .error {
    color: red;
  }

  #login-page {
    height: 100vh;
    background-color: blue;
    background-image: url('./assets/back.jpg');
  }