<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redireciona todas as requisições para index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [QSA,L]
</IfModule>

# Especifica o tipo de arquivo para melhor compatibilidade
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Compressão de arquivos para melhor desempenho
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript application/json
</IfModule>
